# App Config
PORT=4000
NODE_ENV=development

# Database Config
DATABASE_URL="postgresql://user:pass@localhost:5432/db?schema=public"

# Redis Config
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT Config (To be used in Phase 2)
JWT_SECRET=super_secret_jwt_key
JWT_EXPIRATION=15m

# APP_URL: The URL where this applet is hosted.
APP_URL="http://localhost:3000"
